.Maze {
  display: flex;
  flex-direction: column;
}

.MazeRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}

.MazeNode {
  min-width: 25px;
  height: 100%;
  border-left: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
}

.MazeNode:last-child {
  border-right: 1px solid black;
}

.MazeRow:last-child .MazeNode {
  border-bottom: 1px solid black;
}
