.Node {
  min-width: 25px;
  height: 100%;
  border-left: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  background-color: cornflowerblue;
}

.Node:last-child {
  border-right: 1px solid black;
}

.MazeRow:last-child .Node {
  border-bottom: 1px solid black;
}

.start {
  background-color: hotpink;
}

.end {
  background-color: rosybrown;
}

.wall {
  /* background-color: yellow; */
}

.visited {
  animation-name: fadeInVisited;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.unvisited {
}

@keyframes fadeInVisited {
  0% {
    display: none;
    background-color: none;
  }
  100% {
    display: block;
    background-color: slateblue;
  }
}
